.color-bends-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}

.color-bends-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
